    /*academic-cooperation.php 未include該css需到php手動修改*/
    .botton_container{
      display: none;
    }
    .mobile_line{
      display: none;
    }
    @media(max-width: 1024px){
      body{
        background-image: url("../images/cellphone_background.jpg");
        background-size: 100%;
      }
      .header{
        display: none;
      }
      .footer{
        display: none;
      }
      .co_block{
        display: none;
      }
      .sidebarmenu{
        width: 80vw !important;
        margin-top:10.25vh !important;
        margin-left: 10vw;
        margin-right: 10vw;

      }
      .sidebarmenu a{
        display: none;/*顯示其他網頁連結選單*/
      }
      .main{
        margin-left: 10vw !important;
        margin-right: 10vw !important;
        width: 80vw !important;
      }
      .title_block{
        display: flex;
        height: 13vh !important;
        width:80vw !important;
        margin-right: 0;
        max-height: 34px;
        padding-bottom: 2.5vh;
      }
      .title_r{
        height: 2vh !important;
        width: auto !important;
        margin-right:3vw; 
        font-size: 3.5vw !important;
        line-height: 2vh !important;
        letter-spacing: 0 !important;
        position: relative;
        top:50%;
        transform:translateY(-50%); 
      }
      /*using below css needs to add addtional div in php file

        php code:

        <div class="mobile_title_lines"></div>
        <div class="botton_container">
          <img class="botton1" src="../wp-content/themes/nctu_srcs/images/mobile/btn/btn_stop_dark_grey.svg">
          <img class="botton2"src="../wp-content/themes/nctu_srcs/images/mobile/btn/btn_right_dark_grey.svg">
        </div>
          將這段code加入 title_block 的div內和 title_r 的div並排 */
      .mobile_title_lines{
        border-top: #000 solid 1px;
        border-bottom: #000 solid 1px;
        height:4px;
        float: left;
        position: relative;
        top:50%;
        transform:translateY(-50%); 
        display: flex;
        margin-right: 2vw;
        width: auto;
        flex-grow: 1;
      }
      .botton_container{
        display: block;
        float:right;
        height: 13vh;
        max-height: 34px;
        width:13vw;
        margin:0;
      }
      .botton_container .botton1{
        width:5.5vw;
        margin-right: 2vw;
        float: left;
        max-width:34px;
      }
      .botton_container .botton2{
        width:5.5vw;
        float:right;
        max-width: 34px;
      }
      /*內容樣板*/
      #mobile_content_box{
        padding: 0 !important;
        width:80vw !important;
      }
      .co_content{
        width:80vw;
        border-bottom: none !important;
        padding-top: 1.5vh !important;
        padding-bottom:  1.875vh;
      }
      .co-detail{
        width:67vw !important;
        padding-left: 0 !important;
        padding-bottom: 0;
      }
      /*內文時間樣板*/
      #co-date{
        float: right;
        padding-left: 2vw !important;
        width: 11vw !important;
        text-align: right;
      }
      /*在php加入 <hr class="mobile_line" /> 可顯示 左上角的短線*/
      .mobile_line{
        display: block;
        height: 1px;
        border: none;
        border-top:1px solid #000;
        position: relative;
        top:1.875vh;
        width: 15px;
      }
    }